@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Permanent+Marker&family=Questrial&display=swap');

/* for upsidedown contacts font-family: 'Permanent Marker', cursive;*/

.fadeEvil{
  width: 100vw;
  height: 100vh;
  animation: shadowEvil 2s;
}

@keyframes shadowEvil{
  from {opacity: 0;}
  to {opacity: 1; background-color: rgba(30, 25, 60, 1);}
}

.fade{
  width: 100vw;
  height: 100vh;
  animation: shadow 2s;
}


@keyframes shadow{
  from {opacity: 0;}
  to {opacity: 1; background-color: #FFFDD0;}
}


.homeContainer{
  display: flex;
  flex-direction: row;
  font-family: 'Questrial', sans-serif;
  background-color: #FFFDD0;
  height: 100vh;
  width: 100vw;

  transition: ease-in 1s;
}

.homeContainer.evil {
  font-family: 'Permanent Marker', cursive;
  background-color: rgba(30, 25, 60, 1);
}

.contactList{
  display: flex;
  flex-direction: column;
  width: 20vw;
  font-size: 1.5rem;

  max-height: 100vh;
  overflow: auto;
  direction: rtl;

  z-index: 4;
}

.contactList.evil {
  z-index: 4;
}

.singleContact{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  padding-left: 2rem;
  background-color: #f9f9f2;
  direction: ltr;
  font-family: 'Darker Grotesque', sans-serif;
}

.singleContact .phoneNumber{
  color: gray;
  font-size: 1rem;
  padding-top: .1rem;
  padding-bottom: .5rem;
}

.focusContact{
  width: 80vw;
  font-size: 3rem;
  background-color: rgba(0,0,0,0);
}

.focusContact.evil {
  color: #ff1515;
  background-color: rgba(30, 25, 60, 0);
}

.focusContact .contactName{
  padding: 1rem 5rem 1rem;

  background-color: green;
  color: white;
  border-bottom: gold solid .5rem;
  transition: ease-in 1s;
}

.focusContact.evil .contactName{
  background-color: rgb(50, 45, 62);
  color: #ff1515;
  border-bottom: #1e0707 solid .5rem;
  transition: ease-in 1s;
}

.focusContact .phoneNumber{
  font-size: 2rem;
  padding-left: 4rem;
}

.focusContact .contactInfo {
  font-size: 1.5rem;
  padding-left: 5rem;
}

.newContactButton{
  position: absolute;
  left: 82vw;
  top: 82vh;
}